@use "../../../../styles/variables.scss" as *;

.movieItem__container {
  list-style-type: none;
  border-radius: $border-radius-base;
  background-color: $color-white;
  display: flex;

  .poster {
    border-top-left-radius: $border-radius-base;
    border-bottom-left-radius: $border-radius-base;
  }

  .info {
    width: 100%;
    padding: $spacing-4;

    .title {
      display: flex;
      align-items: center;

      .titleName {
        margin: 0 $spacing-2 0;
      }

      .year {
        display: inline-block;
        background-color: $color-purple-light;
        color: $color-white;
        font-size: $font-size-sm;
        padding: $spacing-1 $spacing-2;
        border-radius: 0.25rem;
      }
    }
  }
}
