@use "../../styles/variables.scss" as *;

.movieTitle__title {
  display: flex;
  align-items: center;

  .titleName {
    margin: 0 $spacing-2 0 0;
  }

  .year {
    display: inline-block;
    background-color: $color-purple-light;
    color: $color-white;
    font-size: $font-size-sm;
    padding: $spacing-1 $spacing-2;
    border-radius: 0.25rem;
  }
}
