@use "../../../../styles/variables.scss" as *;

.searchBar__container {
  padding: $spacing-2 0 $spacing-4;

  .searchInput {
    width: 100%;
    border: 1px solid #e2e2e2;
    border-radius: $spacing-2;
    padding: $spacing-3;
    font-size: $font-size-md;

    &::placeholder {
      font-size: $font-size-md;
      color: $color-text-light;
    }
  }
}
