@use "./../../../styles/variables.scss" as *;

.header {
  padding: $spacing-4 $spacing-4;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    flex-direction: row;
    gap: $spacing-2;
    align-items: center;
    color: $color-purple;

    a:-webkit-any-link,
    a:active {
      color: $color-purple;
    }

    .title {
      display: inline-block;
      margin: 0;
    }
  }

  .navItem {
    list-style-type: none;

    .navLink {
      color: $color-purple-dark;
      text-decoration: none;
      display: flex;
      align-items: center;
      margin: 0;
      gap: $spacing-1;
    }
  }
}
