@use "../../styles/variables.scss" as *;

.movieItem__container {
  list-style-type: none;

  .listItem {
    border-radius: $border-radius-base;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    color: initial;
    text-decoration: none;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
    }

    .poster {
      border-radius: $border-radius-base;
      height: 200px;
      object-fit: cover;

      @media (min-width: $breakpoint-md) {
        border-top-left-radius: $border-radius-base;
        border-top-right-radius: 0;
        border-bottom-left-radius: $border-radius-base;
        border-bottom-right-radius: 0;
        height: auto;
      }
    }

    .info {
      width: 100%;
      padding: $spacing-4;
      display: flex;
      flex-direction: column;
      gap: $spacing-4;

      .infoHeader {
        display: flex;
        justify-content: space-between;
      }

      .favoriteButton {
        border: none;
        background-color: inherit;
        color: $color-purple;
      }

      .overview {
        margin-top: $spacing-3;
      }
    }
  }
}
